
GamesIPlay/GamesIPlay/obj/Debug/net5.0/GamesIPlay.assets.cache
GamesIPlay/GamesIPlay/obj/Debug/net5.0/GamesIPlay.csproj.FileListAbsolute.txt
GamesIPlay/GamesIPlay/obj/Debug/net5.0/GamesIPlay.csprojAssemblyReference.cache
GamesIPlay/GamesIPlay/obj/Debug/net5.0/GamesIPlay.genruntimeconfig.cache
GamesIPlay/GamesIPlay/obj/Debug/net5.0/project.razor.json
GamesIPlay/GamesIPlay/obj/GamesIPlay.csproj.nuget.dgspec.json
GamesIPlay/GamesIPlay/obj/project.assets.json
GamesIPlay/GamesIPlay/obj/project.nuget.cache

GamesIPlay/GamesIPlay/obj
