@{
    ViewData["Title"] = "About Kemal Ozturk";
}

<div class="list-header">
    <h1>About <span style="color: #ededed;">Kemal Ozturk</span>
    </h1>
</div>

<p>My name is Kemal Ozturk, I am a senior at the University of Cincinnati. I built this website to keep track of the games I've played and want to play. I might add more features in the future like rating systems, game news, game icons, etc.</p>
<p>This website was built for the final project assignment for the Web Server Application Development class.</p>
