@{
    ViewData["Title"] = "Games I Play";
}

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Games I Play</h1>
            <p class="lead" style="margin-bottom: 20px;">Welcome, this website keeps track of the games you've played. You can give scores and description to the games, you can add them to genres and organize them. You can add descriptions and notes for later reference.</p>
            <p class="lead">
                <a class="btn btn-lg btn-dark" asp-area="" asp-controller="Game" asp-action="List">Get Started</a>
            </p>
        </main>
    </div>
</body>