@{
    ViewData["Title"] = "About Kemal Ozturk";
}

<div class="list-header">
    <h1>Where to Geim??
    </h1>
</div>

<p>Here are some websites that you can buy games!</p>

<div class="card">
    <a href="https://steampowered.com" target="_blank">
        <div class="card-body">
            Steam
        </div>
    </a>
</div>
<div class="card">
    <a href="https://www.epicgames.com/store/en-US/" target="_blank">
        <div class="card-body">
            Epic Games
        </div>
    </a>
</div>
<div class="card">
    <a href="https://www.xbox.com/en-us/pc-gaming?xr=shellnav" target="_blank">
        <div class="card-body">
            Xbox Game Pass
        </div>
    </a>
</div>
